body{
    background-image: url('./public/bgimage.png');
}
/* ---------- Main page css file ---------- */
.Heading{
    text-align: center;
}
.heading_title{
    font-size: 60px;
    font-family: sans-serif;
    font-weight: bolder;
    color: rgb(207, 142, 11);
}
.heading_subtitle{
    font-size: 20px;
    font-family: sans-serif;
    font-weight: normal;
    color: rgb(150, 150, 150);
    margin-bottom: 40px;
}

/* ------------ PdfUpload component styles ------------- */
.upload-box {
    cursor: pointer;
    border-radius: 8px;
    margin: 0px 400px 0px 400px;
    text-align: center;
    transition: border-color 0.3s;
}
.upload-label{
    font-size: 18px;
    color: #606060;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 290px;
    border-radius: 16px;
    border: 2px dashed #363636;
    transition: all 0.3s;
    background-color: rgb(0, 0, 0, 0.3);
}
/* Hover effect */
.upload-label:hover{
    border-color: #e47c2c;
    background-color: #2c2c2c;
    .upload-image, .loader-image{
        color: #e47c2c;
        background-color: #7e634e;
    }

}
/* Input file styles */
.input-file{
    inset: 0;
    opacity: 0;
    cursor: pointer;
}
/* Icon styles */
.upload-image, .loader-image {
    width: 40px;
    height: 40px;
    color: #595959;
    padding: 15px;
    border-radius: 10px;
    background: #272727;
}
/* Label text styles */
.label-text-box{
    margin-top: 15px;
}
.label-heading-text{
    color: #ffffff;
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-weight: 900;
}
.label-description-text{
    color: #808080;
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin-top: 5px;
}
/* Size info styles */
.size-info-box{
    margin-top: 20px;
    display: flex;
    align-items: center;    
    justify-content: center;
    gap: 8px;
}
.size-icon{
    width: 16px;
    height: 16px;
    color: #707070;
}
.size-text{
    color: #707070;
    font-family: Arial, sans-serif;
    font-size: 12px;
}

/* ------------ Chat page styles ------------- */
.chat-container{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap:40px;
    margin-top: 20px;
}
/* Info box styles */
.info-box{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 0px;
    color: white;
}
.filename-wrapper {
  position: relative;
  max-width: 260px;
}
.info-text{
    font-size: 16px;
    font-family: Arial, sans-serif;
    margin: 0px;
    padding-top: 15px;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: default;
}
.filename-tooltip {
  position: absolute;
  font-family: Arial, sans-serif;
  bottom: 120%;
  left: 0;
  max-width: 400px;

  background: rgba(20, 20, 20, 0.95);
  color: #fff;
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 0.75rem;

  white-space: normal;
  word-break: break-all;

  opacity: 0;
  pointer-events: none;
  transform: translateY(4px);
  transition: opacity 0.15s ease, transform 0.15s ease;

  z-index: 50;
}

.filename-wrapper:hover .filename-tooltip {
  opacity: 1;
  transform: translateY(0);
}
.info-subtext{
    font-size: 15px;
    font-family: Arial, sans-serif;
    color: #a0a0a0;
    padding: 0px;
    margin-top: 5px;
}
.info-icon{
    width: 30px;
    height: 30px;
    color: #e47c2c;
    padding: 10px;
    border-radius: 10px;
    background-color: #7e634e;
}
/* Tips box styles */
.tips-box{
    margin-top: 0px;
    text-align: left;
    background-color: #6363636a;
    padding-left: 15px;
    padding-right: 5px;
    padding-top: 0.1px;
    padding-bottom: 5px;
    border-radius: 8px;
}
.tips-heading{
    font-size: 16px;
    color: #9d9d9d;
    margin-bottom: 10px;
    font-family: sans-serif;
}
.tips-list{
    list-style-type: disc;
    padding-left: 10px;
    color: #b0b0b0;
    font-family:Arial, sans-serif;
    font-size: 12px;
}
/* upload another document button styles */
.upload-another-document{
    margin-top:10px;
    width: 260px;
    padding: 10px;
    border-radius: 10px;
    background-color: #42424295;
    border-width: 0px;
    font-family:monospace;
    color: rgb(138, 138, 138);
}
.upload-another-document:hover{
    background-color: #b9b9b997;
    cursor: pointer;
    color: rgb(0, 0, 0);
}

/* -------------- Chat UI ------------------- */
.chatbox-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.chatbox-header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 12px;
  background-color: #4040406c;
  padding: 0px 15px;
  border-radius: 8px;
  width: 713px;
}
.chatbox-header-text {
  display: flex;
  flex-direction: column;
  gap:0px;
}
.chatbox-icon{
    width: 30px;
    height: 30px;
    color: #d7d7d7;
}
.chatbox-title {
  font-size: 20px;
  font-weight: bold;
  color: #d7d7d7;
  font-family: sans-serif;
  margin:0px;
  padding: 0px;
  padding-top: 12px;
  padding-bottom: 6px;
}
.chatbox-subtitle {
  font-size: 11px;
  color: #a0a0a0;
  font-family: sans-serif;
  margin:0px;
  padding: 0px;
  padding-bottom: 12px;
}
.chatbox-wrapper {
  width: 720px;
  height: 490px;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 12px;
  padding: 12px;
}

.chat-messages {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-right: 4px;
}

.chat-message {
  display: flex;
}

.user-message {
  justify-content: flex-end;
}

.ai-message {
  justify-content: flex-start;
}

.message-bubble {
  max-width: 75%;
  padding: 10px 12px;
  border-radius: 12px;
  font-size: 14px;
  line-height: 1.4;
  word-wrap: break-word;
}

.user-msg-icon  {
    padding-top: 7px;
    padding-left: 8px;
  color: #b17e57;
}
.ai-msg-bot{
    padding-top: 7px;
    padding-right: 8px;
    color: #4a4a4a;
}
.ai-msg-icon , .user-msg-bot {
  opacity:0;
}
.user-message .message-bubble {
  background-color: #b17e57;
  color: black;
  border-bottom-right-radius: 4px;
  font-family: 'Arial', 'sans-serif';
}

.ai-message .message-bubble {
  background-color: #2c2c2c;
  color: #e5e5e5;
  font-family: 'Arial', 'sans-serif';
  border-bottom-left-radius: 4px;
}

/* Input area */
.chat-input-box {
  display: flex;
  gap: 8px;
  margin-top: 10px;
}

.chat-input {
  flex: 1;
  padding: 20px;
  border-radius: 8px;
  border: none;
  outline: none;
  background-color: #1e1e1e;
  color: white;
  font-size: 16px;
}

.chat-input::placeholder {
  color: #9d9d9d;
}
.chat-input:focus {
  box-shadow: 0 0 0 2px #957a64;
}

.chat-send-btn {
  padding: 10px 14px;
  border-radius: 8px;
  border: none;
  background-color: #1e1e1e;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.chat-send-btn:hover {
  background-color: #957a64;
  .chat-send-icon{
    color: black;
  }
}
.chat-send-icon{
    width: 30px;
    height: 30px;
    color: #9d9d9d;
}
.chat-messages {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}

.chat-messages::-webkit-scrollbar {
  display: none;             /* Chrome, Safari */
}
